<% if @current_user %>
	<div class="control-panel">
		<div><%= link_to 'My lists', :controller => 'lists', :action => 'index' %></div>
	</div>
<% else %>
	<div class="signup">
		<div><%= link_to 'Sign up', '/signup' %></div>
	</div>
<% end %>

