// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.lists {

	.new-list a {
		&:hover {
			text-decoration: none;
		}

		&:before {
			content: "+ ";
		}
	}

	.list-head {
		h1 {
			display: inline;
		}

		a {
			color: gray;
			margin-left: 0.5em;

			&:hover {
				color: black;
			}
		}
	}

	ul {
		
		li {
			list-style-type: none;
		}

		&#items {
			margin: 1em 0;
			padding: 0;

			li.checked {
				color: gray;
			}
		}

		&#all-lists {
			font-size: 1.5em;

			li {
				margin: 0.3em 0;

				&:before {
					content: "-";
					margin-right: 0.2em;
				}
			}

			a {
				color: black;
				&:hover { 
					//text-decoration: none;
				}
			}
		}
	}

	#add-new {
		margin: 1em 0;
	}

	#status {
		font-size: 1em;
		height:1em;
	}

	.form {
		#save {
			margin-top: 0.4em;
		}

		input[type=text] {
			display:block;
			margin-top: 5px;
		}

		[type=submit], button {
			font-size: 0.8em;
		}
	}
}