// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#items {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}

	li.checked {
		color: gray;
	}
}

#add-new {
	margin: 1em 0;
}

#status {
	font-size: 1em;
	height:1em;
}

.form {
	#save {
		margin-top: 0.4em;
	}

	input[type=text] {
		display:block;
		margin-top: 5px;
	}
}
