@mixin box-sizing( $size ) {
	box-sizing: $size;
	-webkit-box-sizing: $size;
	-moz-box-sizing: $size;
}

@mixin clearfix {
	content: '.';
	visibility: hidden;
	clear: both;
}

$lightblue: #ADD8E6;

body {
	background: gray;
	font-family: 'Sintony';
}

#wrapper {
	box-shadow: 0 0 0.7em 0 black inset;
	padding: 1em;
}

h3.user {
	margin: 0 0 0.5em 0;
	font-family: 'Arial';
}

form {

	label {
		font-size: 1.2em;
		margin: 1em 0 0 0;
		display: block;
	}

	[type=text], [type=password] {
		padding: 0.7em;
		-moz-box-sizing: border-box;
		width: 90%;
		min-width: 20em;
	}

	[type=submit], button {
		margin-top: 1em;
		font-size: 1.2em;
	}

	.cancel {
		font-size: 0.9em;
	}
}

.flash {
	font-size: 1.5em;

	&#error {
		color: red;
	}
	&#notice {
		color: green;
	}
}

/*h1 {
	color: Black;
	line-height: 1em;
	font-size: 250%;
}*/

a {
	color: DarkBlue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.bold {
	font-weight: bold;
}

#page-content {
	h1 {
		text-overflow: "...";
		white-space: pre;
		width: 100%;
		overflow: hidden;
	}
	
}

@media (min-device-width: 500px) {
	body {
	}

	#wrapper {
		width: 30em;
		@include box-sizing( border-box );
		margin: 1.5em auto 0;
		background-color: $lightblue;
		min-height: 30em;
		border-radius: 15px;
		overflow: hidden;
	}

	header.main {
		width: 30em;
		margin: 0 auto;
		color: white;
		text-align: center;
		position: relative;

		h1 {
			font-family: 'Give You Glory';
			color: $lightblue;
			font-size: 400%;
			line-height: 1em;
			margin: 0.5em 0 0 0;
			text-shadow: 0 0 6px black;
		}

		a.frontpage {
			text-decoration: none;
		}

		span {
			position: absolute;
			top: 0;
			right: 0.5em;
		}
	}

	#page-content {
		padding: 1.5em;

		header {
			h1 {
				font-size: 300%;
			}
		}
	}

	footer {
		width: 30em;
		margin: 0 auto 1.5em;

		&:before {
			@include clearfix;
		}

		& > div {
			float: right;
			margin-right: 1em;
			font-size: 0.8em;
		}

	}

}