<h1>Items</h1>
<div id="list" data-user="<%= @user.username %>">
</div>

<div id="status">&nbsp;</div>
<input id="add-new" type="button" value="Add">
<input id="remove-checked" type="button" value="Remove checked">

<div class="form" id="form">
</div>
